.test-appear {
	background-color: purple;
}

.test-appear.test-appear-active {
	transition: background-color 500ms;
	background-color: white;
}

.test-enter {
	background-color: green;
}

.test-enter.test-enter-active {
	transition: background-color 500ms;
	background-color: white;
}

.test-leave {
	background-color: red;
}

.test-leave.test-leave-active {
	transition: background-color 500ms;
	background-color: white;
}
