.test-appear {
	transition: background-color 1000ms;
	background-color: purple;

	&.test-appear-active {
		background-color: white;
	}
}

.test-enter {
	transition: background-color 1000ms;
	background-color: green;

	&.test-enter-active {
		background-color: white;
	}
}

.test-leave {
	transition: background-color 1000ms;
	background-color: white;

	&.test-leave-active {
		background-color: red;
	}
}